.conImg{
   background:#fff;
    width: 100%;
    border-top:1px solid #e6e6e6;
    box-sizing:border-box;
    span{
        
        display:inline-block;
        padding:0 .1rem 0 .1rem;
        box-sizing:border-box;
        width: 3.2rem;
        img{
            width: 100%;
        }
    }
}
