html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size:100px;
    
}
body{
    font-size:.16rem;
    display:-webkit-flex;
    flex-direction:column;
}
.header{
    height:.48rem;
    display:-webkit-flex;
    justify-content:space-between;
    align-items:center;
    padding:0 .1rem;
    border-bottom:1px solid #b2b2b2;
    box-sizing:border-box;
    background:#fff;
    a{
        position:relative;
        z-index:10;
        font-size:.16rem;
        i{
            color:#bfbfbf;
        }
    }
    .title{
        position:absolute;
        left:0;
        right:0;
        z-index:2;
        text-align:center;
        line-height:.48rem;
        color:#8f8f8f;
    }
}
.section{
    flex:1;
    overflow-y:scroll;
    background:#f9f9f9;
}
.cont-dl{
    padding:.1rem 0 .1rem .1rem;
    border-bottom:1px solid #e6e6e6;
    box-sizing:border-box;
    background:#fff;
    height:.9rem;
    dt{
        width:.9rem;
        padding-right:.1rem;
        float:left;
        img{
            width:100%;
        }
    }
    dd{
        p{
            color:#444;
            font-size:.16rem;
            padding-bottom:.15rem;
            padding-top:.1rem;
            box-sizing:border-box;
        }
        span{
            color:#999;
            font-size:.12rem;
        }
    }
}
.intro{
    
    margin-top:.1rem;
}
.content{
    height:.8rem;
    padding:.1rem;
    border-bottom:1px solid #e6e6e6;
//  box-sizing:border-box;
    background:#fff;
}
.co{
    clear:both;
    overflow:hidden;
    width: 100%;
    .cowords{
        float:left;
        overflow:hidden;
        strong{
            display:block;
            color:#444;
            font-size:.14rem;
            padding-bottom:.3rem;
            box-sizing:border-box;
        }
        small{
            font-size:.12rem;
            color:#999;
            display:inline-block;
        }
    }
    .purchase{
        float:right;
        overflow:hidden;
        .money{
            color:#FD6A3C;
            box-sizing:border-box;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow:hidden;
        }
        .installment{
            background:#FD6A3C;
            color:#fff;
            width:.9rem;
            height:.3rem;
            line-height:.3rem;
            text-align:center;
        }
    }
}
.pf{
    color:#FD6A3C;
    font-size:.14rem;
    text-align:right;
    line-height:.2rem;
}
.footer{
    height:.48rem;
    display:-webkit-flex;
    justify-content:space-between;
    border-top:1px solid #b2b2b2;
    box-sizing:border-box;
    span{
        flex:1;
        text-align:center;
        border-right:1px solid #e6e6e6;
        height:100%;
        box-sizing:border-box;
        line-height:.48rem;
        &:last-child{
            border-right:none;
        }
        a{
            color:#666666;
            font-size:.1rem;
        }
    }
}
div[ui-view]{
    display:-webkit-flex;
    flex:1;
    flex-direction:column;
}
